@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Default font stack values */
:root {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono:
    "Menlo", "Consolas (Custom)", "Bitstream Vera Sans Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: "Times New Roman", "Times", serif;
}

body {
  font-family: var(--font-sans);
}

code {
  font-family: var(--font-mono);
}

em {
  font-family: var(--font-serif);
}

blockquote {
  font-family: var(--font-serif);
}
